.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.hypothesis
.tox
.nox
.venv
venv
env
ENV
.idea
.vscode
__pycache__
*.py[cod]
*.log
*.pid
.coverage
.coverage.*
coverage.xml
htmlcov
runtime
tests
docs

